files:
  "/tmp/cron_jobs" :
    mode: "000777"
    content: |
      0 0,12 * * * /etc/logrotate.sh
    encoding: plain

container_commands:
  00-json-driver:
    command: |
      if ! grep json /etc/ecs/ecs.config &> /dev/null
      then
        echo 'ECS_AVAILABLE_LOGGING_DRIVERS=["syslog","json-file"]' >> /etc/ecs/ecs.config
      fi
  01_cp:
    command: "cp .ebextensions/logrotate.sh /etc/logrotate.sh"
  02_chmod:
    command: "chmod +x /etc/logrotate.sh"
  03_remove_old_cron_jobs:
    command: "crontab -r || exit 0"
  04_cronjobs:
    command: "crontab /tmp/cron_jobs"
    leader_only: true
